<launch>
    <arg name="pkg" default="$(find see_csom)" />

    <!-- 在这里改是否连续建图 -->
    <arg name="method" default="see_csom"/>
    <arg name="dataset" default="stanford"/>

   
    <arg name="method_config" value="$(arg pkg)/config/methods" />
    <arg name="data_config" value="$(arg pkg)/config/datasets/" />

    <!-- 在这里改数据集的rviz配置 -->
    <!-- <node type="rviz" name="rviz" pkg="rviz" args="-d $(find see_csom)/rviz/stanford_node.rviz" /> -->
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find see_csom)/rviz/stanford_node2.rviz" />

    <node pkg="see_csom" type="stanford_node" name="stanford_node" output="screen">

        <!-- 在这里改使用的数据集 -->
        <!-- <param name="dir" value="$(arg pkg)/data/stanford" />     -->
        <!-- <param name="dir" value="$(arg pkg)/data/stanford_truth" />     -->
        <param name="dir" value="$(arg pkg)/data/stanford2" />    
        <!-- <param name="dir" value="$(arg pkg)/data/stanford_truth2" />     -->
        <param name="prefix" value="$(arg dataset)" />

        <rosparam file="$(arg method_config)/$(arg method).yaml" command="load" />
        <rosparam file="$(arg data_config)/$(arg dataset).yaml" command="load" />
        
    </node>

</launch>
